.section__booking {
    position: relative;
    padding: 3.75rem 0;
}

.booking__form {
    padding: 2.5rem 2.5rem 3.25rem;
    border: 2px solid;
    border-color: var(--primary-200);
    border-radius: 1.75rem;
    background: var(--radial-gradient-block);
    box-shadow: var(--box-shadow-block);
}
.form__wrap {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    .notification {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        pointer-events: none;
        transition: var(--transition-duration);
        opacity: 0;
        &.show {
            opacity: 1;
        }
    }
}
.form__title {
    font-weight: 700;
    color: var(--primary-700);
    opacity: 1;
    transition: var(--transition-duration);
    &.hidden {
        opacity: 0;
    }
}

.form__label-wrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    font-weight: 600;
    color: var(--neutrals-400);
}

.form__label {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.form__button {
    align-self: flex-end;
}

.form__primary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    opacity: 1;
    transition: var(--transition-duration);
    input {
        padding: 1.125rem;
        width: 100%;
        height: 3.75rem;
        border: 1px solid;
        border-color: var(--neutrals-100);
        border-radius: 0.75rem;
        font-family: var(--main-font-family);
        font-style: normal;
        font-size: 1rem;
        transition: var(--transition-duration);
        &::placeholder {
            color: var(--neutrals-100)
        }
    }
    .empty-field {
            border-color: red;
    }
    &.hidden {
        opacity: 0;
    }
}

@include respond-to(tablet) {
    .form__primary {
        flex-direction: column;
    }
    .form__button {
        align-self: center;
    }
}