.section__platform {
    padding: 4.25rem 0;
}

.container__platform {
    max-width: 59.625rem;
    width: 100%;
}

.platform__title {
    text-align: center;
    color: var(--neutrals-900);
    margin-bottom: 2rem;
}

.platform__description {
    width: 85%;
    text-align: center;
    margin: 0 auto;
    color: var(--neutrals-300);
    font-weight: 600;
}

.platform__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    margin-top: 3.25rem;
}

.platform__content {
    width: 100%;
}

.content__list {
    display: flex;
    flex-direction: column;
    // gap: 2.25rem;
    
}

.content__item {
    position: relative;
    display: flex;
    gap: 1.25rem;
    &:not(:last-child) {
        padding-bottom: 2.25rem;
    }
    
    .item__number {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 52px;
        height: 52px;
        background: linear-gradient(101.91deg, #A7E2FF 0%, #0095DE 87.74%);
        border-radius: 50%;
        font-size: 2rem;
        line-height: 1;
        font-weight: 700;
        color: var(--neutrals-0);
    }
    .item__content {
        display: flex;
        flex-direction: column;
        gap: 0.625rem; 
        flex: 1;
        .item__title {
            color: var(--neutrals-900);
            font-weight: 700;
        }
        .item__subtitle {
            color: var(--neutrals-500);
        }
    }
}

.content__item:not(:last-child):before {
    content: url('data:image/svg+xml,%3Csvg%20width%3D%222%22%20height%3D%22117%22%20viewBox%3D%220%200%202%20117%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1%201L1.00001%20116%22%20stroke%3D%22%23B6E6FF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-dasharray%3D%228%208%22%2F%3E%3C%2Fsvg%3E');
    position: absolute;
    top: 2.25rem;
    left: 1.625rem;
    width: 2px;
    height: 100%;
    z-index: -1;
}

.platform__img {
    position: relative;
    max-width: 23.375rem;
    width: 100%;
    .decorate {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 21.813rem;
        width: 90%;
        transform: translate(-30%, 100%);
    }
}