.section__services {
    position: relative;
    padding: 4.25rem 0;
}

.services__wrap {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.services__title {
    text-align: center;
    color: var(--neutrals-900);
}

.services__description {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: var(--neutrals-300);
    font-weight: 600;
}

.services__list {
    margin-top: 1.25rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 2.5rem;
}

.services__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    border: 2px solid;
    border-color: var(--primary-200);
    border-radius: 24px;
    box-shadow: var(--box-shadow-block);
    padding: 2.5rem 2.5rem 3.25rem;
}

.services__item:nth-child(1) {
  grid-column: span 2;
  width: calc(100% - 71px);
}

.services__item:nth-child(2) {
  grid-column: span 1;
  width: calc(100% + 71px);
  margin-left: -71px;
}

.services__item:nth-child(3),
.services__item:nth-child(4),
.services__item:nth-child(5) {
  grid-column: span 1;
}

.item__img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: var(--primary-50);
    border-radius: 0.5rem;
    width: 2.75rem;
    height: 2.75rem;
}

.item__title {
    color: var(--primary-700);
}

.item__subtitle {
    font-size: 0.875rem;
    line-height: 1.7;
    font-weight: 600;
    color: var(--neutrals-500);
    text-wrap: balance;
}

@include respond-to(tablet) {
    .services__list {
        margin-top: 1rem;
        gap: 1.5rem;
    }
    .services__item {
        gap: 0.8rem;
        padding: 32px 32px 41px;
    }
}

@include respond-to(bigMobile) {
    .services__list {
        grid-template-rows: auto auto auto;
    }
    .services__item:nth-child(3) {
        grid-column: span 1;
        width: calc(100% + 71px);
    }
    .services__item:nth-child(4) {
        grid-column: span 2;
        width: calc(100% - 71px);
        margin-left: 71px;
    }
.services__item:nth-child(5) {
        grid-column: span 2;
        width: calc(100% - 71px);
    }
}

@include respond-to(mobile) {
    .services__list {
       grid-template-columns: 1fr;
    }
    .services__item:nth-child(1),
    .services__item:nth-child(2),
    .services__item:nth-child(3),
    .services__item:nth-child(4),
    .services__item:nth-child(5) {
        grid-column: span 1; 
        width: 100%;
        margin-left: 0; 
    }

    
}