.section__story {
    position: relative;
    padding: 3.75rem 0;
}

.story__wrap {
    display: flex;
    flex-direction: column;
    gap: 2.75rem;
    align-items: center;
    background: var(--radial-gradient-block);
    border: 2px solid;
    border-color: var(--primary-200);
    border-radius: 1.75rem;
    box-shadow: var(--box-shadow-block);
    padding: 3.5rem 4rem;
}

.story__title {
    color: var(--neutrals-900);
    font-weight: 700;
    text-align: center;
    text-wrap: balance;
}

.story__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.story__img {
    max-width: 448px;
    width: 100%;
    border: 2px solid;
    border-color: var(--primary-200);
    border-radius: 1.25rem;
    overflow: hidden;
}

.story__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.75rem;
    width: 100%;
}

@include respond-to(bigMobile) {
    .story__container {
        flex-direction: column;
    }
}

@include respond-to(mobile) {
    .story__wrap {
        padding: 2.8rem 3.2rem;
    }
}
