:root{
//Font
    --main-font-family: 'Manrope', sans-serif;

//Colors
    --primary-50: #eff9ff;
    --primary-100: #def1ff;
    --primary-200: #b6e6ff;
    --primary-300: #75d4ff;
    --primary-400: #2cbeff;
    --primary-500: #00a4f4;
    --primary-600: #0084d4;
    --primary-700: #0069ab;
    --primary-800: #00598d;
    --primary-900: #064a74;
    --primary-950: #042f4d;

    --neutrals-0: #ffffff;
    --neutrals-50: #f6f6f6;
    --neutrals-100: #e7e7e7;
    --neutrals-200: #d1d1d1;
    --neutrals-300: #b0b0b0;
    --neutrals-400: #888888;
    --neutrals-500: #6d6d6d;
    --neutrals-600: #5d5d5d;
    --neutrals-700: #4f4f4f;
    --neutrals-800: #454545;
    --neutrals-900: #3d3d3d;
    --neutrals-950: #000000;

//Box-shadows
    --box-shadow-btn: -8px 8px 28px rgba(0, 0, 0, 0.06);
    --box-shadow-dropdown: 0px 4px 16px rgba(10, 13, 20, 0.32), 0px 16px 56px rgba(10, 13, 20, 0.48), 0px 4px 4px rgba(0, 0, 0, 0.25);
    --box-shadow-block: 3.12195px 9.36585px 21.8537px rgba(0, 0, 0, 0.06);

//Gradients
    --liner-gradient-btn: linear-gradient(101.91deg, #A7E2FF 0%, #0095DE 87.74%);
    --liner-gradient-btn-text: linear-gradient(98.64deg, #007DAA 6.59%, #15B2FF 72.16%);
    --liner-gradient-text: linear-gradient(100.68deg, #0179B4 20.59%, #88D8FF 86.44%);
    --liner-gradient-text-reverse: linear-gradient(98.64deg, #88D8FF 35.04%, #0179B4 93.41%);
    --radial-gradient-block: radial-gradient(114.87% 113.36% at 40.95% -10.45%, #FFFFFF 32.81%, #F8FDFF 97.64%);
    --radial-gradient-block-alternative: radial-gradient(192.09% 498.22% at 0% 12.07%, #EBF8FF 2.36%, #FDFEFF 49.86%);
    --radial-gradient-block-dark: radial-gradient(114.87% 113.36% at 40.95% -10.45%, #35BDFF 38.13%, #008CD0 100%);

    //Transition
    --transition-duration: 0.2s;
}
// .container
//   width: 1674px
//   max-width: 100%
//   position: relative
//   margin-left: auto
//   margin-right: auto
//   @media (max-width: 1200px)
//     width: calc(100% - 52px)
//   @media (max-width: 880px)
//     width: calc(100% - 52px)

// .section
//   position: relative
//   margin: 0