<header class="header js-header">
     <div class="container">
          <div class="header__inner">
               <div class="header__logo">
                    <a href="#" rel="home">
                         <img src="img/logo-healnet.svg" alt="HealNet logo" decoding="async"/>
                    </a>
               </div>
               <nav class="header__nav">
                    <ul class="nav__list">
                         <li class="nav__item">
                              <a class="nav__link" href="#" target="_self">Home</a>
                         </li>
                         <li class="nav__item">
                              <a class="nav__link" href="#" target="_self">Services</a>
                         </li>
                         <li class="nav__item">
                              <a class="nav__link" href="#" target="_self">Find Doctors</a>
                         </li>
                         <li class="nav__item">
                              <a class="nav__link" href="#" target="_self">About us</a>
                         </li>
                         <li class="nav__item">
                              <a class="nav__link" href="#" target="_self">Blog</a>
                         </li>
                         <li class="nav__item">
                              <a class="nav__link" href="#" target="_self">Contact us</a>
                         </li>
                    </ul>
               </nav>
               <div class="header__action">
                    <button class="btn btn__primary">Join us</button>
               </div>
               <div class="header__burger js-burger">
                    <div class="burger__line"></div>
               </div>
          </div>
     </div>
     
</header>
