<section class="section__meet">
    <div class="container container--small">
        <h2 class="meet__headline"><span class="alternative">Masters of Medicine:</span><br>Meet our team of specialists</h2>
        <p class="meet__description">Our team of specialists is at the forefront of medical innovation. Each specialist brings a unique blend of expertise, empathy, and experience to ensure that your health is in the best hands:</p>
        <div class="meet__list">
            <div class="meet__card">
                <div class="meet__image">
                    <img src="img/doctor-appointment-1.png" alt="Doctor photo"/>
                </div>
                <div class="meet__paper">
                    <div class="meet__inner">
                        <div class="meet__content">
                            <p class="meet__title">Dr. Sarah Johnson (Cardiologist)</p>
                            <p>Heart health is Dr. Wong’s passion, and her approach to cardiology integrates cutting-edge technology with compassionate care. She’s a respected voice in the prevention of heart disease and a trusted partner to her patients on their journey to wellness.</p>
                        </div>
                    
                        <button class="meet__btn btn btn__light btn--with-phone"><span>Book appointment</span></button>
                    </div>
                    
                </div>
            </div>
             <div class="meet__card">
                <div class="meet__image">
                    <img src="img/doctor-appointment-2.png" alt="Doctor photo"/>
                </div>
                <div class="meet__paper">
                    <div class="meet__inner">
                        <div class="meet__content">
                            <p class="meet__title">Dr. Sarah Johnson (Cardiologist)</p>
                            <p>Heart health is Dr. Wong’s passion, and her approach to cardiology integrates cutting-edge technology with compassionate care. She’s a respected voice in the prevention of heart disease and a trusted partner to her patients on their journey to wellness.</p>
                        </div>
                    
                        <button class="meet__btn btn btn__light btn--with-phone"><span>Book appointment</span></button>
                    </div>
                    
                </div>
            </div>
    </div>
    </div>
    
</section>