<div class="section__platform">
    <div class="container container__platform">
        <h2 class="platform__title">How <span>our platform</span> works</h2>
        <p class="platform__description">Navigating your healthcare journey with HealNet is seamless. Just follow these steps mentioned below to proceed with your selected services. You can also see our FAQ section for more guidance:</p>
        <div class="platform__container">
            <div class="platform__content">
                <div class="content__list">
                    <div class="content__item">
                        <div class="item__number">
                            <p>1</p>
                        </div>
                        <div class="item__content">
                            <h3 class="item__title">Create Your Profile</h3>
                            <p class="item__subtitle">Sign up and fill in your medical history securely. Setting up your profile this way would ensure that you stay up-to-date with your medical processes.</p>
                        </div>
                        
                    </div>
                    <div class="content__item">
                        <div class="item__number">
                            <p>2</p>
                        </div>
                        <div class="item__content">
                            <h3 class="item__title">Choose Your Service</h3>
                            <p class="item__subtitle">Select from our range of services and book a consultation. Booking a consultation with HealNet is fairly simple and straight-forward.</p>
                        </div>
                    </div>
                    <div class="content__item">
                        <div class="item__number">
                            <p>3</p>
                        </div>
                        <div class="item__content">
                            <h3 class="item__title">Meet Your Doctor</h3>
                            <p class="item__subtitle">Have a virtual consultation with one of our certified specialists, or go for a physical visit to the doctor in case you opted for a physical check-up.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="platform__img">
                <img src="../../img/platform.png" alt="Doctor image"/>
                <img class="decorate" src="../../img/decorate-platform.png" alt="Doctor image"/>
            </div>
        </div>
        
    </div>
</div>