        <div class="statistic__list js-running-value">
            <div class="statistic__item ">
                <h4 class="item__title"><span class="js-running-number">10</span><span>,000+</span></h4>
                <p class="item__subtitle">Successful Consultations</p>
            </div>
            <div class="statistic__item">
                <h4 class="item__title"><span class="js-running-number">2</span><span>,</span><span class="js-running-number">500</span></span><span>+</span></h4>
                <p class="item__subtitle">Healthcare Professionals</p>
            </div>
            <div class="statistic__item">
                <h4 class="item__title"><span class="js-running-number">98</span><span>%</span></h4>
                <p class="item__subtitle">Patient Satisfaction Rate</p>
            </div>
            <div class="statistic__item">
                <h4 class="item__title"><span class="js-running-number">200</span><span>+</span></h4>
                <p class="item__subtitle">Top Specialists</p>
            </div>
        </div>