<section class="section__story">
    <div class="container">
        <div class="story__wrap">
            <h3 class="story__title"><span>HealNet’s Story:</span> Get to know us</h3>
            <div class="story__container">
                <div class="story__img">
                    <img src="../../img/story.jpg" alt="Doctors"/>
                </div>
                <div class="story__content">
                    <p>
                        HealNet is more than just an online medical service; it’s a movement towards accessible, efficient, and compassionate healthcare for all. Founded by a team of visionary doctors, healthcare professionals, and technology experts, we are driven by the mission to deliver exceptional medical care directly to you, no matter where you are. Our platform is built on the pillars of trust, innovation, and patient-centricity, ensuring that every interaction is personalized and every treatment plan is tailored to your unique needs. With a network of licensed practitioners from diverse medical fields, we guarantee comprehensive care that’s just a click away.
                    </p>
                    <button class="btn btn__secondary">Learn more about us</button>
                </div>
            </div>

        </div>
    </div>
</section>