<section class="section__testimonials">
    <div class="container">
        <h2 class="testimonials__title"><span>Patient Testimonials:</span><br>Hear from Those We’ve Cared For</h2>
        <p class="testimonials__subtitle">Discover the difference we make through the voices of those we’ve served:</p>
        <div class="testimonials__list">
            <div class="testimonials__item">
                <div class="item__img">
                    <img src="../../img/testimonial-1.png" alt="photo clients"/>
                </div>
                <div class="item__content">
                    <p>“After my knee surgery, the convenience of online consultations made my recovery smoother than I could have imagined.”</p>
                    <p class="bold">- Linda A.</p>
                </div>
            </div>
            <div class="testimonials__item">
                <div class="item__img">
                    <img src="../../img/testimonial-2.png" alt="photo clients"/>
                </div>
                <div class="item__content">
                    <p>“Managing chronic conditions like diabetes requires a lot of vigilance, but the medicine refill system has simplified my life.”</p>
                    <p class="bold">- Henry B.</p>
                </div>
            </div>
            <div class="testimonials__item">
                <div class="item__img">
                    <img src="../../img/testimonial-3.png" alt="photo clients"/>
                </div>
                <div class="item__content">
                    <p>“The prescription refill system is a game-changer for managing my diabetes. It’s really efficient and completely hassle-free.”</p>
                    <p class="bold">- Joshua T.</p>
                </div>
            </div>
            <div class="testimonials__item">
                <div class="item__img">
                    <img src="../../img/testimonial-4.png" alt="photo clients"/>
                </div>
                <div class="item__content">
                    <p>“Finding a doctor who really understands all of my health needs has never been easier. This platform has changed my life.”</p>
                    <p class="bold">- Samantha K.</p>
                </div>
            </div>
        </div>
    </div>
</section>