// ==============================
// RESET STYLES
// ==============================
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: var(--main-font-family);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--neutrals-500);
  background-color: var(--neutrals-0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// ==============================
// GLOBAL STYLES
// ==============================
img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color var(--transition-duration) ease;
  cursor: pointer;
}

a, 
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

ul,
ol {
  list-style: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border: none;
  resize: none;
}

// ==============================
// TYPOGRAPHY
// ==============================
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: var(--spacing-medium);
  span {
    background: var(--liner-gradient-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

span {
  color: var(--primary-600);
}

h1 {
  font-size: 2.875rem; //46px
}

h2 {
  font-size: 2.5rem; //40px
}

h3 {
  font-size: 2rem; //32px
}

h4 {
  font-size: 1.5rem; //24px
}

h5 {
  font-size: 1.25rem; //20px
}

h6 {
  font-size: 1rem;
}

@include respond-to(tablet) {
  h1 {
  font-size: 2.3rem; 
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}
}

// ==============================
// UTILITIES
// ==============================
.container {
  position: relative;
  width: 100%;
  max-width: 1166px;
  margin: 0 auto;
  padding: 0 1.5rem;
  @include respond-to(tablet) {
      max-width: 100%;
    }
}

section {
  position: relative;
}

.flex {
  display: flex;
  &.center {
    align-items: center;
    justify-content: center;
  }
}

.grid {
  display: grid;
}

// ==============================
// BUTTONS
// ==============================
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem; //12px
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  white-space: nowrap;
  color: var(--neutrals-0);
  background: var(--liner-gradient-btn);
  
  border-radius: 0.75rem;
  transition: all var(--transition-duration) ease;
  padding: 1.25rem 1.5rem;
  height: 4.25rem; // 68px
  &:hover {
    box-shadow: var(--box-shadow-btn);
  }
}

.btn--with-arrow::after {
    content: "";
    display: block;
    width: 12px;
    height: 18px;
    background-image: url(../../img/btn-arrow-right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transition: var(--transition-duration);
}
.btn--with-arrow:hover::after {
    transform: translateX(4px);
}

@include respond-to(mobile) {
  .btn {
    gap: 0.5rem; //8px
    font-size: 1rem;
    padding: 0.75rem 1rem;
    height: 3.25rem; //52px
  }
}

// ==============================
// VISUALLY HIDDEN
// ==============================

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// ==============================
// GLOBAL SECTIONS ELEMENTS
// ==============================

.bg__image svg {
    position: absolute;
    top: 50%;
    left: 0;
    height: auto;
    width: 100%;
    z-index: 0;
    overflow: hidden;
}