// ==============================
// RESET STYLES
// ==============================
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: var(--main-font-family);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--neutrals-500);
  background-color: var(--neutrals-0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// ==============================
// GLOBAL STYLES
// ==============================
img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color var(--transition-duration) ease;
  cursor: pointer;
}

a, 
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

ul,
ol {
  list-style: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border: none;
  resize: none;
}

// ==============================
// TYPOGRAPHY
// ==============================
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: var(--spacing-medium);
  span {
    background: var(--liner-gradient-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
  }
  .alternative {
    background: var(--liner-gradient-text-reverse);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
}

span {
  color: var(--primary-600);
}

.bold {
  font-weight: 700;
}

h1 {
  font-size: 2.875rem; //46px
}

h2 {
  font-size: 2.5rem; //40px
}

h3 {
  font-size: 2rem; //32px
}

h4 {
  font-size: 1.5rem; //24px
}

h5 {
  font-size: 1.25rem; //20px
}

h6 {
  font-size: 1rem;
}

@include respond-to(tablet) {
  h1 {
  font-size: 2.3rem; 
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}
}

// ==============================
// UTILITIES
// ==============================
.container {
  // position: relative;
  width: 100%;
  max-width: 1166px;
  margin: 0 auto;
  padding: 0 1.5rem;
  &.container--small {
    max-width: 59.625rem;
    width: 100%;
  }
  @include respond-to(tablet) {
      max-width: 100%;
      &.container--small {
        max-width: 48rem;
        width: 100%;
    }
    }
}

section {
  position: relative;
}

.flex {
  display: flex;
  &.center {
    align-items: center;
    justify-content: center;
  }
}

.grid {
  display: grid;
}

// ==============================
// BUTTONS
// ==============================
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem; //12px
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  white-space: nowrap;
  color: var(--neutrals-0);
  border-radius: 0.75rem; //12px
  transition: all var(--transition-duration) ease;
  &:hover {
    box-shadow: var(--box-shadow-btn);
    transform: translateY(-2px);
  }
  &.btn__primary {
    background: var(--liner-gradient-btn);
    padding: 1.25rem 1.5rem;
    height: 4.25rem; // 68px
  }
  &.btn__secondary {
    background: var(--primary-500);
    padding: 1.125rem 2.25rem;
    height: 3.75rem; // 60px
  }
  &.btn__light {
    color: var(--neutrals-0);
    background: var(--primary-50);
    padding: 1rem 1.25rem;
    height: 3.5rem; // 56px
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    span {
      background: var(--liner-gradient-btn-text);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
}

.btn--with-check::after{
  content: "";
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C11.3135 20.0017 12.6143 19.7438 13.8278 19.2411C15.0413 18.7385 16.1435 18.001 17.071 17.071C18.001 16.1435 18.7385 15.0413 19.2411 13.8278C19.7438 12.6143 20.0017 11.3135 20 10C20.0017 8.68654 19.7438 7.38569 19.2411 6.17222C18.7385 4.95874 18.001 3.85656 17.071 2.92901C16.1435 1.99902 15.0413 1.26151 13.8278 0.75885C12.6143 0.256194 11.3135 -0.00169347 10 8.36827e-06C8.68654 -0.00166607 7.38569 0.256234 6.17222 0.758889C4.95874 1.26154 3.85656 1.99904 2.92901 2.92901C1.99904 3.85656 1.26154 4.95874 0.758889 6.17222C0.256234 7.38569 -0.00166607 8.68654 8.36827e-06 10C-0.00169347 11.3135 0.256194 12.6143 0.75885 13.8278C1.26151 15.0413 1.99902 16.1435 2.92901 17.071C3.85656 18.001 4.95874 18.7385 6.17222 19.2411C7.38569 19.7438 8.68654 20.0017 10 20Z' fill='white'/%3E%3Cpath d='M6 10L9 13L15 7' stroke='%2300A4F4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

    background-size: contain;
    background-repeat: no-repeat;
    transition: var(--transition-duration);
}

.btn--with-arrow::after {
    content: "";
    display: block;
    width: 0.75rem;
    height: 1.125rem;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 18" fill="white"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.20024 0C1.64107 0 1.09064 0.201675 0.673187 0.582022C0.253197 0.964914 0 1.50229 0 2.08123C0 2.66018 0.253102 3.19747 0.673092 3.58036L6.28019 8.69064C6.46671 8.86063 6.46671 9.15417 6.28019 9.32415L0.667601 14.4394L0.662199 14.4445C0.25322 14.8305 0.0108525 15.3649 0.0163097 15.9373C0.0217669 16.5096 0.274136 17.0392 0.689456 17.4178C1.10224 17.794 1.64528 17.9956 2.19829 17.9999C2.75128 18.0043 3.29734 17.8114 3.71635 17.4426L3.72191 17.4377L11.327 10.5064C11.747 10.1235 12 9.58634 12 9.0074C12 8.42845 11.7469 7.89116 11.3269 7.50827L3.72729 0.582022C3.30984 0.201675 2.7594 0 2.20024 0Z"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    transition: var(--transition-duration);
}

.btn--with-phone::after {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 23"><defs><linearGradient id="a" x1="-121.5" y1="14.3501" x2="13.9463" y2="31.9253" gradientUnits="userSpaceOnUse"><stop stop-color="%23007DAA"/><stop offset="0.626806" stop-color="%2315B2FF"/></linearGradient></defs><path d="M14.6676 15.9854L16.562 14.0902C16.8172 13.8381 17.14 13.6655 17.4913 13.5934C17.8426 13.5213 18.2072 13.5528 18.541 13.6841L20.8498 14.6063C21.1871 14.7432 21.4763 14.977 21.681 15.2781C21.8857 15.5793 21.9967 15.9343 22 16.2984V20.5287C21.998 20.7764 21.946 21.0212 21.847 21.2482C21.748 21.4753 21.6041 21.6799 21.4239 21.8499C21.2438 22.0198 21.0311 22.1516 20.7987 22.2371C20.5663 22.3227 20.3191 22.3603 20.0718 22.3477C3.89312 21.3409 0.628639 7.63472 0.0112629 2.38914C-0.0173962 2.13155 0.00878882 1.8708 0.0880951 1.62406C0.167401 1.37731 0.298031 1.15016 0.471392 0.95755C0.644752 0.764939 0.856914 0.611231 1.09392 0.506538C1.33092 0.401846 1.5874 0.348542 1.84648 0.350132H5.93131C6.29582 0.351212 6.65168 0.461362 6.9531 0.666415C7.25453 0.871468 7.48774 1.16205 7.62275 1.50078L8.54458 3.81052C8.68011 4.14309 8.71469 4.50822 8.644 4.86033C8.5733 5.21243 8.40047 5.53589 8.14709 5.79031L6.25268 7.68549C6.25268 7.68549 7.34366 15.0716 14.6676 15.9854Z" fill="url(%23a)"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    transition: var(--transition-duration);
}

.btn--with-arrow:hover::after,
.btn--with-arrow:focus::after {
    transform: translateX(4px);
}

.btn--with-check:hover::after,
.btn--with-check:focus::after,
.btn--with-phone:hover::after,
.btn--with-phone:focus::after {
    transform: scale(1.2);
}

@include respond-to(mobile) {
  .btn {
    gap: 0.5rem; //8px
    font-size: 1rem;
    padding: 0.75rem 1rem;
    height: 3.25rem; //52px
    &.btn__light {
      padding: 0.75rem 1rem;
      height: 3.25rem; // 56px
      font-size: 1rem;
    }
  }
  
}

// ==============================
// VISUALLY HIDDEN
// ==============================

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// ==============================
// GLOBAL SECTIONS ELEMENTS
// ==============================

.bg__image svg {
    position: absolute;
    top: 50%;
    left: 0;
    height: auto;
    width: 100%;
    z-index: 0;
    overflow: hidden;
}